body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

/* Стили для навигационного меню */
nav ul {
    list-style: none;
    margin: 0;
    padding: 10px;
    text-align: center;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

nav ul li:not(:last-child)::after {
    content: "|";
    margin-left: 15px; 
    color: #fff;
}

nav li {
    margin-right: 20px;
    display: flex; 
    align-items: center; 
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    display: flex; 
    align-items: center; 
}

nav i {
    font-size: 18px;
    margin-right: 5px;
}


/* Стили для секции "Welcome" */
#welcome {
    background: none; 
    text-align: center; 
    height: 850px; 
    width: auto; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
}

/* Стили для фонового изображения */
.welcome-background {
    background-image: url('/img/2.jpg'); 
    background-size: cover;
    background-position: center;
    height: 100%; 
    width: 100%; 
    padding: 20px; 
    display: flex; 
    flex-direction: column;
    justify-content: center; 
}

/* Стили для текстовых элементов */
.welcome-background h1 {
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: bold;
    color: gainsboro; 
}

.welcome-background p {
    font-size: 18px;
    margin-bottom: 30px;
    font-weight: bold;
    color: #fff; 
}

.welcome-background img {
    width: 220px;
    height: 220px;
}

/* Стили для кнопки "Посмотреть меню" */
.button.large {
    display: inline-block;
    padding: 15px 30px; 
    background-color: #333;
    color: #fff;
    width: 320px;
    margin-top: 25px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.button.large:hover {
    background-color: #555;
}

/* Стили для кнопки "Карта бара" */
.button.small {
    display: inline-block;
    padding: 10px 20px; 
    background-color: #fff;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    width: 200px;
    margin-top: 25px;
    font-weight: bold;
    transition: background-color 0.3s;
    border: 1px solid #333;
}

.button.small:hover {
    background-color: #9e9a9a;
    color: #fff;
}

/* Стили для секции "О ресторане" */
#about {
    background-color: #f7f7f7;
    padding: 40px 0;
    text-align: center;
}

#about p {
    font-size: 20px;
}

.about-content {
    max-width: 800px;
    margin: 0 auto;
}

#about h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

.about-columns {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start; 
}

.column {
    flex: 1;
    margin: 0 10px;
}

.column ul {
    list-style: none;
    padding: 0;
}

.column ul li {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
    line-height: 1.5; 
}

.column ul li strong {
    font-weight: bold;
    color: #333;
}

/* Стили для секции "Адрес ресторана" */
#address {
    background-color: #d0d0d0;
    padding: 20px 0;
    text-align: center;
}

.address-content {
    max-width: 800px;
    margin: 0 auto;
}

#address h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

/* Стили для карты */
iframe {
    display: block; 
    margin: 0 auto; 
}

/* Стили для секции "Контакты" */
#contact {
    background-color: #333;
    padding: 20px 0;
    text-align: center;
    height: 165px;
}

#contact h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 1    0px;
    color: #fff;
}

address {
    max-width: 800px;
    margin: 0 auto;
}

address p {
    font-size: 16px;
    margin: 10px 0;
    color: #fff;
}


/* Стили для Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font-size: 16px;
}

/* Стили для разделительной линии между "Контакты" и футером */
footer::before {
    content: "";
    display: block;
    height: 1px;
    background-color: #fff; 
    margin: 20px 0; 
}
